.Rproj.user
.Rhistory
.RData
.Ruserdata
/datos
/ProgramacionR-master.zip
/ProgramacionR-master
/Grupo4_Programacion2.Rproj
/listRaingaue.csv
/mods_clima_uh.csv
/rainfall.csv
/raingaugeDataset.csv
/temperatureDataset.csv